body {
    margin: 0;
    font-family: sans-serif, Roboto;
}

a {
    text-decoration: none;
}

header h1 {
    font-size: clamp(1rem, 6vw, 3rem);
    text-align: center;
    font-weight: 100;
    color: #5c5c5c;
}

.header-row {
    display: flex;
    flex-flow: row;
}

.header-arrow {
    flex: 1;
    background: #FAD21A;
}

.header-arrow-right {
    border-left: clamp(1rem, 3vw, 1.5rem) solid transparent;
    border-top: clamp(1rem, 3vw, 1.5rem) solid #FAD21A;
    border-bottom: clamp(1rem, 3vw, 1.5rem) solid #FAD21A;
}

.header-arrow-left {
    border-left: clamp(1rem, 3vw, 1.5rem) solid #FAD21A;
    border-top: clamp(1rem, 3vw, 1.5rem) solid transparent;
    border-bottom: clamp(1rem, 3vw, 1.5rem) solid transparent;
}

.header-station {
    font-size: clamp(1rem, 6vw, 3rem);
    font-weight: 400;
    margin: 0 2rem;
    line-height: clamp(1rem, 6vw, 3rem);
    display: flex;
    align-items: center;
}

.header-station > a {
    color: inherit;
}

.header-station .material-symbols-outlined {
    font-size: inherit;
    vertical-align: bottom;
}

h2.other-station {
    font-size: clamp(1rem, 4.5vw, 2rem);
    font-family: sans-serif, Roboto;
    font-weight: 400;
    text-align: center;
}

h2.other-station a {
    color: #1676d2;
}

.select-day {
    text-align: center;
    margin: 2vw;
}

.select-day a {
    text-decoration: none;
    color: #1676d2;
    margin: 0 2vw;
    font-size: clamp(0.8rem, 3vw, 1.4rem);
}

.select-day a.active {
    color: white;
    background: #1676d2;
    border-radius: 1.4rem;
    padding: 0 1vw;
}

.station-list {
    width: 100%;
    max-width: 500px;
    margin: auto;
    text-align: center;
    padding: 10px 0;
}

h2.station-list-item {
    font-size: clamp(1.5rem, 3.5vw, 3rem);
    font-family: sans-serif, Roboto;
    font-weight: 300;
    color: #1676d2;
    padding: 5px 0;
    margin: 5px 0;
    border-radius: 2em;
}

h2.station-list-item:hover {
    background: #1676d2;
    color: white;
}

h2.station-list-item a {
    color: inherit;
}

h3.time-window {
    font-size: clamp(1rem, 4vw, 1.7rem);
    font-family: sans-serif, Roboto;
    font-weight: 300;
    text-align: center;
    color: #5c5c5c;
}

.station-departures {
    text-align: center;
    width: 90%;
    margin: auto;
    overflow: scroll;
    display: block;
}

span.time-badge {
    font-size: clamp(1rem, 3vw, 1.7rem);
    font-family: sans-serif, Roboto;
    font-weight: 400;
    border-radius: 1em;
    padding: 6px 17px;
    margin: 4px;
    background: #4aa2f8;
    display: inline-block;
    color: white;
}

span.time-badge.compare-time {
    background: #1976D2;
}

span.time-badge.past {
    background: #E6E6E6;
    color: #5c5c5c;
}

.station-departures > .compare-time.future ~ .compare-time.future {
    background: #4aa2f8;
}

