<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="canonical" href="https://urbanrail.kyiv.group/" />

    <meta name="color-scheme" content="light dark">
    <title>Розклад київської міської електрички</title>
    <meta name="description" content="Актуальний та зручний розклад руху міської електрички київським залізничним кільцем. Розклад відправлення поїздів у будні та вихідні для кожної станції."/>

    <meta property="og:title" content="Розклад київської міської електрички"/>
    <meta property="og:description"
          content="Актуальний та зручний розклад руху міської електрички"/>
    <meta property="description"
          content="Актуальний та зручний розклад руху міської електрички київським залізничним кільцем"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://urbanrail.kyiv.group"/>
    <meta property="og:image" content="https://urbanrail.kyiv.group/static/preview.svg"/>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="urbanrail.kyiv.group">
    <meta property="twitter:url" content="https://urbanrail.kyiv.group">
    <meta name="twitter:title" content="Розклад київської міської електрички">
    <meta name="twitter:description"
          content="Детальний та зручний розклад руху міської електрички київським залізничним кільцем">
    <meta name="twitter:image" content="https://urbanrail.kyiv.group/static/preview.svg">

    {% include 'partial/links.html' %}

    {% include 'partial/microdata.html' %}

    {% include 'partial/analytics.html' %}

</head>
<body>
<header>
    <h1><a href="/">Розклад міської електрички</a></h1>

    <div class="text-container font-smaller">
        <p>
            Це <span class="marker">зручний, швидкий та актуальний</span> розклад київської міської електрички, що оновлюється автоматично. До того ж,
            розклад <span class="marker">завжди під рукою</span>, бо створений з думкою про смартфони. Приправлено дрібкою турботи про користувачів та їх час&nbsp;❤️
        </p>
    </div>

    <div class="header-row">
        <a href="/stations" class="header-station select-station">
            <div class="select-station-text">Виберіть станцію</div>
            <span class="icon">
                <svg>
                    <use xlink:href="/static/bot.svg#search"></use>
                </svg>
            </span>
        </a>
    </div>
</header>

{% include 'partial/updates.html' %}

<section>
    <h2 class="other-station">Купити квитки</h2>
    <div class="ticket-bots">
        <a href="https://t.me/Ukrzaliznytsia_Tickets_Bot" class="bot-img" rel="nofollow">
            <svg>
                <use xlink:href="/static/bot.svg#bot-telegram"></use>
            </svg>
            <div class="bot-name">Telegram</div>
        </a>
        <a href="https://vb.me/ukr_railway" class="bot-img" rel="nofollow">
            <svg>
                <use xlink:href="/static/bot.svg#bot-viber"></use>
            </svg>
            <div class="bot-name">Viber</div>
        </a>
        <a href="https://www.facebook.com/Ukrzaliznytsia" class="bot-img" rel="nofollow">
            <svg>
                <use xlink:href="/static/bot.svg#bot-mess"></use>
            </svg>
            <div class="bot-name">Messenger</div>
        </a>
        <a href="https://bcrw.apple.com/sms:open?service=iMessage&amp;recipient=urn:biz:d6e25f5c-df42-4fc7-b272-598f7d6baf1e"
           class="bot-img" rel="nofollow">
            <svg>
                <use xlink:href="/static/bot.svg#bot-what"></use>
            </svg>
            <div class="bot-name">Apple</div>
        </a>
    </div>
</section>

<section class="faq text-container">
    <h2 class="other-station">Часті питання</h2>
    <h3>Що це за транспорт?</h3>
    <p>Міська електричка - швидкісний транспорт, що курсує київським залізничним кільцем. Це зручний та швидкий спосіб
        дістатися віддаленого району, подорожувати із велосипедом чи просто насолодитися краєвидами.</p>
    <h3>Розклад? Навіщо?</h3>
    <p>Електрички курсують регулярно, але не надто часто, тож просто приходити на станцію та чекати потяга "як у метро"
        не найкраща ідея. Що ж, не проблема, поїзди дотримуються розкладу. Обирайте станцію та насолоджуйтеся:)</p>
    <h3>А що це за сайт?</h3>
    <p>Це <b>неофіційний</b> сайт, створений виключно через те, що у його автора мерзли руки і плавився мозок внаслідок
        марних спроб зʼясувати, о котрій відправляється найближчий потяг у -10℃ та сніг. Подорож з цієї сторінки до
        розкладу
        займає всього два кліки - <a href="/stations">обирайте станцію</a> і побачите потрібний час ще до того, як дощ
        намочить екран смартфону!
    </p>
    <p>У нас розклад виглядає просто і зрозуміло: ніяких величезних таблиць і захаращених рекламою сторінок.</p>
    <p> А тут <a href="https://kyiv.group/">домашня сторінка групи проектів</a>, яка поки що
        складається лише з цього розкладу:)</p>
    <h3>Що ще мені слід знати перед тим, як йти на станцію?</h3>
    <ul>
        <li>вартість проїзду - 15 грн. Сплатити можна транспортною карткою на станції, готівкою у потязі чи за допомогою
            телеграм-бота. Майте на увазі, що з транспортної карти зніметься грошовий еквівалент, а не поїздка.
        </li>
        <li><a href="https://kyivcityexpress.uz.gov.ua/" rel="nofollow">офіційний сайт</a> є (до того ж, симпатичний),
            там значно більше корисного
        </li>
        <li>електричка продовжує курсувати під час повітряної тривоги</li>
    </ul>
    <h3>Я маю ідеї як зробити сайт кращим, куди звертатися?</h3>
    <p>
        У нас є <a href="https://t.me/urbanrail" rel="nofollow">відкрита спільнота</a>, де можна запропонувати покращення чи повідомити про помилку.
    </p>
</section>

<section>
    <div class="ticket-bots">
        <a href="https://t.me/kyiv_city_express" class="tg-img" rel="nofollow">
            <svg>
                <use xlink:href="/static/bot.svg#chanel-uz"></use>
            </svg>
            <div>Офіційний ТГ електрички</div>
        </a>
        <a href="https://t.me/urbanrail" class="tg-img" rel="nofollow">
            <svg>
                <use xlink:href="/static/bot.svg#chanel-telegram"></use>
            </svg>
            <div>Обговорення цього сайту</div>
        </a>
    </div>
</section>

<section class="text-container">
    <h2 class="other-station" itemprop="name">Розклад за станціями</h2>
    <p>
        Міська електричка курсує двадцятьма станціями Київського залізничного кільця. Загальна протяжність маршруту –
        50.8 км. Поїзди рухаються <b>за годинниковою стрілкою</b> (Дарниця – Київ-Пас. – Святошин – Почайна) та <b>проти</b>
        (Дарниця – Почайна – Святошин – Київ-Пас.). Інтервал складає близько 15 хвилин у години пік по буднях та близько
        30 хвилин у інший час з 5:30 до 23:20.
    </p>
    <h3 class="align-center">Натисніть на станцію, щоб побачити розклад</h3>
    <div class="station-list timeline">
        <table itemscope itemtype="https://schema.org/ItemList">
            {% for item in schedule %}
            {% if not loop.first %}
            <tr>
                <td>
                    <div class="timeline-connector"></div>
                </td>
                <td></td>
            </tr>
            {% endif %}
            <tr class="time-badge-font" itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
                <td class="time-badge" style="text-align: center; display: table-cell" itemprop="position">
                    {{ loop.index }}
                </td>
                <td class="timeline-station">
                    <a href="/stations/{{ item.slug }}" itemprop="url">
                        <div class="flex-align-center">
                            <span itemprop="name">{{ item.station }}</span>
                            {% for transfer in item.transfers %}
                            <img alt="Пересадка на {{ transfer }}" class="transfer-badge"
                                 src="/static/{{ transfer }}.svg"/>
                            {% endfor %}
                        </div>
                    </a>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</section>

{% include 'partial/feedback.html' %}

<footer>
    Розробник: @oryba
</footer>
</body>
</html>