<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="color-scheme" content="light dark">
    <title>Вибір станції - розклад руху міської електрички</title>

    <link rel="canonical" href="https://urbanrail.kyiv.group/stations" />

    <meta property="og:title" content="Вибір станції - актуальний розклад київської міської електрички"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="https://urbanrail.kyiv.group/stations"/>
    <meta property="og:image" content="https://urbanrail.kyiv.group/static/preview.svg"/>
    <meta property="og:description" content="Оберіть станцію зі списку, щоб побачити актуальний розклад"/>
    <meta name="description" content="Оберіть станцію зі списку, щоб побачити актуальний розклад"/>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="urbanrail.kyiv.group">
    <meta property="twitter:url" content="https://urbanrail.kyiv.group/stations">
    <meta name="twitter:title" content="Вибір станції - розклад київської міської електрички">
    <meta name="twitter:description"
          content="Детальний та зручний розклад руху міської електрички київським залізничним кільцем">
    <meta name="twitter:image" content="https://urbanrail.kyiv.group/static/preview.svg">

    {% include 'partial/links.html' %}

    {% include 'partial/microdata.html' %}

    {% include 'partial/analytics.html' %}
</head>
<body>
<header>
    <h1><a href="/">Розклад міської електрички</a></h1>
</header>
<section>
    <div class="station-list align-center">
        {% for item in schedule %}
        <a href="/stations/{{ item.slug }}"><h2 class="station-list-item">{{ item.station }}
            {% for transfer in item.transfers %}
            <img alt="Пересадка на {{ transfer }}" class="transfer-badge" src="/static/{{ transfer }}.svg"/>
            {% endfor %}
        </h2></a>
        {% endfor %}
    </div>
</section>
</body>
</html>