<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="color-scheme" content="light dark">
    <title>{{ station.station_seo }}{{ ' (будні)' if day == 'weekday' else (' (вихідні)' if day == 'weekend' else '') }} -
        розклад київської міської електрички</title>

    <meta property="og:title"
          content="Станція {{ station.station_seo }} - актуальний розклад київської міської електрички"/>
    <meta property="og:description"
          content="Станція {{ station.station_seo }} - актуальний та зручний розклад руху міської електрички станцією {{ station.station }} {{ 'у будні' if day == 'weekday' else ('у вихідні' if day == 'weekend' else '') }}"/>
    <meta name="description"
          content="Станція {{ station.station_seo }} - актуальний та зручний розклад руху міської електрички станцією {{ station.station }} {{ 'у будні' if day == 'weekday' else ('у вихідні' if day == 'weekend' else '') }}">
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="{{ canonical }}"/>
    <meta property="og:image" content="https://urbanrail.kyiv.group/static/preview.svg"/>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta property="twitter:domain" content="urbanrail.kyiv.group">
    <meta property="twitter:url" content="{{ canonical }}">
    <meta name="twitter:title" content="Станція {{ station.station_seo }} - розклад київської міської електрички">
    <meta name="twitter:description"
          content="Станція {{ station.station_seo }} - детальний та зручний розклад руху міської електрички київським залізничним кільцем">
    <meta name="twitter:image" content="https://urbanrail.kyiv.group/static/preview.svg">

    {% include 'partial/links.html' %}

    <link rel="canonical" href="{{ canonical }}">

    {% include 'partial/microdata.html' %}

    {% include 'partial/analytics.html' %}

</head>
<body>
<header>
    <h1><a href="/">Розклад міської електрички</a></h1>
    <div class="header-row">
        <div class="header-arrow"></div>
        <div class="header-arrow-left"></div>
        <div class="header-station">
            <a href="/stations">
                <h2>{{ station.station }}</h2>
                <span class="icon">
                    <svg>
                        <use xlink:href="/static/bot.svg#search"></use>
                    </svg>
                </span>
            </a>
        </div>
        <div class="header-arrow-right"></div>
        <div class="header-arrow"></div>
    </div>
    {% if station.old_name %}
    <h3 class="time-window old-name">стара назва: {{ station.old_name }}</h3>
    {% endif %}
</header>
<section class="select-day">
    <a href="/stations/{{ station.slug }}" class="{{ not day and 'active' }}">Сьогодні</a>
    <a href="/stations/{{ station.slug }}/weekday" class="{{ day == 'weekday' and 'active' }}">Будні</a>
    <a href="/stations/{{ station.slug }}/weekend" class="{{ day == 'weekend' and 'active' }}">Вихідні</a>
</section>
<section class="prompt warning">
    <h2>Зміни розкладу до 12 серпня – будівництво тунелю для зʼїзду з мосту:</h2>
    <ul>
        <li><b>будні</b> – "пікові" щопівгодинні рейси Дарниця – Почайна – Святошин скасовано</li>
        <li><b>вихідні</b> – рух ділянкою Почайна – Микільська Слобідка не здійснюватиметься, станції Райдужна та Воскресенка не працюватимуть</li>
    </ul>
    <p>Скасовані рейси у розкладі виділено перекресленими червоними позначками. У разі виявлення помилок, будь ласка, пишіть у <a href="https://t.me/urbanrail" rel="nofollow">телеграм-канал</a>, виправимо.</p>
    <br>
</section>
<!--<section class="prompt info">-->
<!--    <h2>🎄 Знижка 50% для власників карток Visa</h2>-->
<!--    <p>Діє при оплаті карткою через валідатор та Київ Цифровий із 28 грудня 2023 року до 31 січня 2024 року</p>-->
<!--</section>-->
<section>
    <h2 class="other-station">У бік станції <a href="/stations/{{ station.next.slug }}">{{ station.next.station }}</a>
        <span class="icon">
            <svg>
                <use xlink:href="/static/bot.svg#counterclockwise"></use>
            </svg>
        </span>
    </h2>
    <h3 class="time-window">з {{ station.departures_forth[0].time }} до {{ station.departures_forth[-1].time }}</h3>
    <div class="station-departures">
        {% for item in station.departures_forth %}
        <a
            href="/trains/{{ item.code | replace('/', '-')}}"
            class="time-badge time-badge-font {{not day and 'compare-time'}} {{ 'past' if not day and item.time < time else 'future' }} {{ 'badge-crossed' if item.removed and detected_day in item.removed.when else ''}}"
        >
            {{ item.time }}
        </a>
        {% endfor %}
    </div>
</section>
<section>
    <h2 class="other-station">У бік станції <a href="/stations/{{ station.prev.slug }}">{{ station.prev.station }}</a>
        <span class="icon">
            <svg>
                <use xlink:href="/static/bot.svg#clockwise"></use>
            </svg>
        </span>
    </h2>
    <h3 class="time-window">з {{ station.departures_back[0].time }} до {{ station.departures_back[-1].time }}</h3>
    <div class="station-departures">
        {% for item in station.departures_back %}
        <a
            href="/trains/{{ item.code | replace('/', '-')}}"
            class="time-badge time-badge-font {{not day and 'compare-time'}} {{ 'past' if not day and item.time < time else 'future' }} {{ 'badge-crossed' if item.removed and detected_day in item.removed.when else ''}}"
        >
            {{ item.time }}
        </a>
        {% endfor %}
    </div>
</section>
{% if station.transfer_details %}
<section>
    <h2 class="other-station">Пересадки</h2>
    <br>
    <div class="station-departures">
        {% for ts, badges in station.transfer_details.items() %}
        <div class="transfer-station">
            {% for badge in badges %}
            <img alt="Пересадка на {{ badge }}" class="transfer-badge" src="/static/{{ badge }}.svg"/>
            {% endfor %}
            <span>{{ ts }}</span>
        </div>
        {% endfor %}
    </div>
</section>
{% endif %}
<section class="faq text-container mt-3">
    <h3>Що це за сторінка?</h3>
    <p>Це актуальний розклад київської міської електрички станцією {{ station.station_seo }}{{
        ' у будні' if day == 'weekday' else (' у вихідні)' if day == 'weekend' else '') }}.
        Таблиця вище відображає відправлення у бік станцій {{ station.prev.station }} (за годинниковою стрілкою)
        та {{ station.next.station }} (проти годинникової стрілки). Більше інформації про електричку, купівлю квитків
        та цей сайт загалом - <a href="/">на головній</a>.</p>
</section>

{% include 'partial/feedback.html' %}

</body>
</html>