<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "Розклад київської міської електрички",
        "alternateName": "Міська електричка: розклад, м. Київ",
        "url": "https://urbanrail.kyiv.group/",
        "logo": "https://urbanrail.kyiv.group/android-chrome-512x512.png"
    }
</script>
<script type="application/ld+json">
    {
        "@context": "https://schema.org",
        "@type": "FAQPage",
        "mainEntity": [
            {
                "@type": "Question",
                "name": "Що це за транспорт?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "<p>Міська електричка - швидкісний транспорт, що курсує київським залізничним кільцем. Це зручний та швидкий спосіб дістатися віддаленого району, подорожувати із велосипедом чи просто насолодитися краєвидами.</p>"
                }
            },
            {
                "@type": "Question",
                "name": "Розклад? Навіщо?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "Електрички курсують регулярно, але не надто часто, тож просто приходити на станцію та чекати потяга \"як у метро\" не найкраща ідея. Що ж, не проблема, поїзди дотримуються розкладу. Обирайте станцію та насолоджуйтеся:)"
                }
            },
            {
                "@type": "Question",
                "name": "Яка вартість проїзду?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "<p>Вартість проїзду - 15 грн. Сплатити можна транспортною карткою на станції, готівкою у потязі чи за допомогою телеграм-бота. Майте на увазі, що з транспортної карти зніметься грошовий еквівалент, а не поїздка.</p>"
                }
            },
            {
                "@type": "Question",
                "name": "Чи зупиняється електричка на час повітряної тривоги?",
                "acceptedAnswer": {
                    "@type": "Answer",
                    "text": "<p>Ні, електричка продовжує курсувати під час повітряної тривоги</p>"
                }
            }
        ]
    }
</script>