<section class="updates text-container">
    <h2 class="other-station">
        <span>Останні оновлення</span>
        {% if (now - updates[0].dt).days <= 3 %}<span class="notify-badge">1</span>{% endif %}
    </h2>
    <div class="updates-list">
        {% for update in updates %}
        <div class="update-item" itemscope itemprop="SpecialAnnouncement" itemtype="https://schema.org/SpecialAnnouncement">
            <meta itemprop="datePosted" content="{{ update.dt.isoformat() }}">
            {% if update.expires %} <meta itemprop="expires" content="{{ update.expires.isoformat() }}" /> {% endif %}
            <div class="time">{{ update.dt_local if update.dt.year != now.year else update.dt_local_month }}</div>
            <div class="text" itemprop="name" content="{{ update.text }}"><a href="{{ update.link }}" itemprop="url" content="{{ update.link }}">{{ update.text }}</a></div>
            <meta itemprop="text" content="{{ update.description }}" />
        </div>
        {% endfor %}
    </div>

    <p>
        А ще у нашому <a href="/news">блозі</a> та у <a href="https://t.me/urbanrail" rel="nofollow">телеграмі</a>
        можна почитати про історію створення сайту, оновлення, статистику та, звісно, плани на майбутнє.
    </p>
</section>